body {
    margin: 5em;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 700px;
}

code {
    font-family: 'Arial';
}

h1 {
    background: black;
    color: white;
    text-align: center;
}

.app {
    background: #a0c3df;
    padding: 30px;
    height: 50vh;
}

.todo-list {
    background: lightgrey;
    border-radius: 4px;
    padding: 5px;
    max-width: 600px;
}

.todo {
    background: rgba(66, 48, 48, 0.281);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
    background-color: lightblue;
}

.input:hover {
    background-color: lightcyan;
}